<html>
  <head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="/verify/userID=<%= req.query.guildID %>&userID=<%= req.query.userID %>" method="POST">
      <div class="g-recaptcha" data-sitekey="6Ld1kqwZAAAAABIYvytLgggmmvOZFVD4cPvUfveq"></div>
      <br/>
      <input type="button" value="Submit" onclick="c()">
      
<script src="https://www.google.com/recaptcha/api.js?render=6Lc0kawZAAAAAKDgUKYFqgY0QKFLvcluldSI3PUf"></script>
<script> 
function label() {
  
}
  function c(){
var response = grecaptcha.getResponse();
  console.log(response)
if(response.length == 0) return alert("not verified")
else return alert("verified")
    //reCaptch verified
  }
  
</script>
      
    </form>
  </body>
</html>